#user-modal{
    position: fixed;
    width: 30vw;
    height: 45vh;
    background-color: rgb(220, 217, 223);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 1px 1px 10px 3px rgb(0 0 0 / 10%);
    &.modalOpenContainer {
        top: 0px; 
        transition: 0.5s;
    }
    .button-exit-modal {
        height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
	    align-items: center;
        .buttonClose {
            margin-right: 10px;
            width: 18px;            
            cursor: pointer;
            display: flex;
            font-family:'Dosis', sans-serif;
            font-size: 18px;
            justify-content: center;
	        align-items: center;
            box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 10%);
            transition: 1s;
            &:hover {
                background-color: rgb(183, 171, 192);
                transition: 2s;
            }
        }
    }
    .modal-input {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
	    align-items: center;
        height: 30vh;
        .inputContainer {
            input {
                width: 13vw;
            }
            ::placeholder {
                font-family:'Dosis', sans-serif;
                font-size: 10px;
            }
            input[type="text"] {
                font-family:'Dosis', sans-serif;
                font-size:10px;
            }
        }
    }
    .modal-button-save {
        display: flex;
        justify-content: center;
	    align-items: center;
        height: 10vh;
        .button-save {
            width: 4vw;
            height: 3vh;
            text-align: center;
            font-family:'Dosis', sans-serif;
            font-size: 12px;  
            background-color: #FFFFFF;
            border: 0;
            border-radius: .5rem;
            box-shadow: 1px 1px 10px 3px rgb(0 0 0 / 10%);
            transition: 1s;
            cursor: pointer;
            &:hover {
              background-color: rgb(216, 206, 223);
              transition: 2s;
            }
        }
    }
}